version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: velas_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: velas_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
