name: Keep Alive Render

on:
  schedule:
    - cron: '*/14 * * * *'
  workflow_dispatch: 

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Acordar API
        run: curl -I https://ecommerce-backend-clean-arch.onrender.com/health
